<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo center">Teste Esparta</a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
		</ul>
	</div>
</nav>

<div class="row pl-20">
	<div class="col-md-12">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">
					<i class="material-icons">format_list_bulleted</i>Consulta - Minhas Tarefas
				</div>

				<div class="collapsible-body">
					<div class="card grey lighten-2">
						<div class="card-content black-text">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<p class="form-check">
										<input type="checkbox" [checked]="checkPendente" (change)="checkPendente = !checkPendente" />
										<label class="form-check-label" style="color: black !important;">
											<input class="filled-in" id="filled-in-box" type="checkbox" [checked]="checkPendente" (change)="checkPendente = !checkPendente"
											/> Atividades Pendentes
										</label>
									</p>
								</div>

								<div class="col-md-3 col-sm-6">
									<p class="form-check">
										<input type="checkbox" [checked]="checkConcluida" (change)="checkConcluida = !checkConcluida" />
										<label class="form-check-label" style="color: black !important;">
											<input class="form-check-input" type="checkbox" [checked]="checkConcluida" (change)="checkConcluida = !checkConcluida"> Atividades Concluidas
										</label>
									</p>
								</div>
							</div>


							<div *ngIf="!checkPendente && !checkConcluida">
								<label style="color: black !important;">Selecione algum filtro</label>
							</div>

							<div class="col-md-12" style="overflow-y: scroll;">
								<table class="striped bordered" *ngIf="checkPendente || checkConcluida">
									<caption>Lista de Tarefas</caption>
									<thead>
										<tr>
											<th scope="col">Numero</th>
											<th scope="col">Nome</th>
											<th scope="col">Status</th>
											<th scope="col">Detalhes</th>
											<th scope="col">Ações</th>
										</tr>
									</thead>

									<tbody *ngFor="let todo of todos">
										<tr *ngIf="todo.status == 'PENDENTE' && checkPendente" [hidden]="!checkPendente">
											<th scope="row">{{todo.id}}</th>
											<td>{{todo.nome}}</td>
											<td *ngIf="todo.status == 'PENDENTE'" class="table-danger lighten-2">{{todo.status}}</td>
											<td *ngIf="todo.status == 'CONCLUIDA'" class="table-success ">{{todo.status}}</td>
											<td>{{todo.detalhe}}</td>
											<td>
												<button class="btn black" (click)="confirmDelete(todo)">Deletar</button>
												<button class="btn green" *ngIf="todo.status =='CONCLUIDA'" (click)="reopen(todo.id)">Reabrir Tarefa</button>
												<button class="btn red" *ngIf="todo.status =='PENDENTE'" (click)="finish(todo.id)">Completar Tarefa</button>

											</td>
										</tr>
									</tbody>
									<tbody *ngFor="let todo of todos">
										<tr *ngIf="todo.status == 'CONCLUIDA' && checkConcluida" [hidden]="!checkConcluida">
											<th scope="row">{{todo.id}}</th>
											<td>{{todo.nome}}</td>
											<td *ngIf="todo.status == 'PENDENTE'" class="table-danger">{{todo.status}}</td>
											<td *ngIf="todo.status == 'CONCLUIDA'" class="table-success">{{todo.status}}</td>
											<td>{{todo.detalhe}}</td>
											<td>
												<button class="btn black" (click)="confirmDelete(todo)">Deletar</button>
												<button class="btn green" *ngIf="todo.status =='CONCLUIDA'" (click)="reopen(todo.id)">Reabrir Tarefa</button>
												<button class="btn red" *ngIf="todo.status =='PENDENTE'" (click)="finish(todo.id)">Completar Tarefa</button>

											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="collapsible-header">
					<i class="material-icons">add</i> Cadastro - Nova Tarefa
				</div>

				<div class="row collapsible-body">
					<div class="card grey lighten-2">
						<div class="card-content white-text">
							<div class="col s12">
								<div class="row">
									<div class="input-field col s6">
										<input id="last_name" type="text" style="color: black !important;" class="validate" [(ngModel)]="id" required>
										<label for="last_name">Id</label>
									</div>
									<div class="input-field col s6">
										<input id="last_name" type="text" style="color: black !important;" class="validate" [(ngModel)]="nome" required>
										<label for="last_name">Nome</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s6">
										<input id="last_name" type="text" style="color: black !important;" class="validate" [(ngModel)]="detalhe" required>
										<label for="last_name">Detalhes</label>
									</div>
								</div>

								<a href="#!" class="btn green" (click)="cadastrar()">Cadastrar</a>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>


<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions" style="height: 200px !important;">
	<div class="modal-content">
		<h4>Deletar</h4>
		<p>Deseja realmente deletar esse item?</p>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-red btn-flat col-md-3" (click)="closeModalDelete()">Não</a>
		<a class="waves-effect waves-green btn-flat col-md-3" (click)="delete(todo)">Sim</a>
	</div>
</div>